# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.idea/modules
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
CustomNEnchanting/build
CustomNEnchanting-api/build
.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.bin
.gradle/6.7.1
.gradle/buildOutputCleanup
.gradle/checksums
.gradle/configuration-cache
.gradle/vcs-1
